h5py>=3.10
huggingface-hub>=0.23
lifelines>=0.29
matplotlib>=3.8
numpy>=1.26
opencv-python-headless>=4.9
pandas>=2.1
Pillow>=10.0
pyarrow>=15.0
pytorch-lightning>=1.9,<3
PyYAML>=6.0
scgpt>=0.2
scikit-learn>=1.4
scipy>=1.11
seaborn>=0.13
tables>=3.9
tifffile>=2024.2
timm>=1.0
torch>=2.1
torch-geometric>=2.5
torch-scatter>=2.1
torchvision>=0.16
tqdm>=4.66
transformers>=4.35
